<h1><%= @place["name"] %></h1>

<div class="row">
<% if @current_user %>
<h2>My Posts</h2>

<% for post in @posts %>
<div class="col-md-4 col-sm-8">

  <h3><%= post["title"] %></h3>
  <h5><%= post["posted_on"] %></h5>
  <p><%= post["description"] %></p>
</div>
<% end %>
</div>
<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>"class="btn btn-success">Add a New Post</a>
</p>


<% else %>
<p>

  You must <a href="/login">login</a> to add and view posts.
</p>

<% end %>

<p>
  <a href="/places"class="btn btn-secondary">Back to All Places</a>
</p>